.buttonLarge {
    background-color: var(--primary-color);
    border: 5px solid white;
    color: white;
     width: 300px;
     height: 75px;
    text-align: center;
     border-radius: 25px;
    border: none;
   font-family: 'Sanchez';
    font-size: 25pt;
    position: absolute;
    top: 350px;
    left: 110px;
  }
  
  .buttonLarge:hover {
    background-color: var(--secondary-color);
  }

  