.buttonLarge {
    background-color: var(--primary-color);
    border: 5px solid white;
    color: white;
     width: 300px;
     height: 75px;
    text-align: center;
     border-radius: 25px;
    border: none;
   font-family: 'Sanchez';
    font-size: 25pt;
    position: absolute;
    top: 350px;
    left: 110px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .buttonLarge:hover {
    background-color: #204655;
  }

.buttonLarge:active {
  transform: translateY(4px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}