.container{
position: fixed;
top: 400px;
color: white;
margin: 8%;
text-align: center;
}

.buttonQuiz1{
    position: fixed;
    top: 250px;
    left: -35px;
     padding: 20px;

}

.buttonLearn{
    position: fixed;
    top: 350px;
    right: 120px;
    padding: 40%;
}

