.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .logo {
    max-width: 100%;
    max-height: 100%;
  }
  
  .text {
    font-size: 2rem;
    color: #33718A;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .logo {
    display: block;
  }
  
  .header {
    text-align: center;
  }
  
  .paragraph {
    text-align: center;
  }

  .homeImage{
    position: absolute;
    top: 0px;
  }

  .text {
    position: absolute;
    top: 520px;
    background-color:transparent;
    color: white;
      }

  .header{
    margin-bottom: 10%;
  }