.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding:0%;
  background-color: var( --ternary-color);
  flex-direction: column;
  width: 414px;
 }

.text {
  display: flex;
  color: var(--senary-color);
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
  padding: 2%;
 }

.pageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para{
  display: flex;
  color: var(--senary-color);
  font-size: 2rem;
  text-align: center;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 5%;
}
.slideDown {
  animation: slideDown 0.5s ease forwards;
}
.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}