.body{
    background-color: var( --ternary-color);
    color: var( --quinary-color);
}

.main{
  position: fixed;
}
.text {
    position: absolute;
    bottom: 120px;
    text-align: center;
    margin: 8%;
    padding: 4%;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    font-size: 25px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 10px solid white;
  }

  .arrow{
    position: absolute;
    bottom: 90px;
    right: 5px
  }