.body{
    background-color: var( --ternary-color);
    color: var( --quinary-color);
}

.main{
  position: fixed;
  top: 40px
}


  .arrow{
    position: absolute;
    top: -25px;
    right: 10px
  }

  .backarrow{
    position: fixed;
    top: 10px;
    left: 10px
  }

  .container{
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--senary-color);
    margin: 40%;
    font-size: 15px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 5px solid;
    padding: 4%
  }

  .graph{
    border-radius: 20px;
     }